.sidebar-fixed{
  height:100vh;
  width:270px;
  -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),
  0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  z-index:1050;
  background-color:#fff;
  padding:0 1.5rem 1.5rem
}
.sidebar-fixed .list-group .active{
  -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -webkit-border-radius:5px;border-radius:5px
}
.sidebar-fixed .logo-wrapper{
  /* padding:2.5rem */
  padding: 0rem;
}
.sidebar-fixed .logo-wrapper img{
  max-height:50px
}

@media (min-width:1200px){
  .navbar,.page-footer,main{
    padding-left:270px
  }
}

@media (max-width:1199.98px){
  .sidebar-fixed{
    display:none
  }
}

.container-for-admin{
  background-color: #eee!important;
}

.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.list-group-item.active{
  background-color: rgb(70, 66, 66);
}

.active-route {
  background-color:rgb(70, 66, 66);;
  color:white;
}

/* .sidebar-fixed[_ngcontent-lop-c3] .logo-wrapper[_ngcontent-lop-c3]{
  padding: 0px !important
} */
