<div class="sidebar-fixed position-fixed">

    <a class="logo-wrapper waves-effect">
      <img src="assets/img/logo.png" class="img-fluid" alt="">
    </a> 

    <div class="list-group list-group-flush" >
      <a  [routerLink]="['', 'dashboard']" [routerLinkActive]="['active-route']" class="list-group-item waves-effect">
        <i class="fa fa-pie-chart mr-3" ></i>Dashboard
      </a>
      <a [routerLink]="['', 'users']" [routerLinkActive]="['active-route']"class="list-group-item list-group-item-action waves-effect">
        <i class="fa fa-user mr-3"></i>Users</a>
      <a class="list-group-item list-group-item-action waves-effect" [routerLinkActive]="['active-route']">
        <i class="fa fa-table mr-3"></i>Tables</a>
      <!-- <a href="#" class="list-group-item list-group-item-action waves-effect">
        <i class="fa fa-map mr-3"></i>Maps</a>
      <a href="#" class="list-group-item list-group-item-action waves-effect">
        <i class="fa fa-money mr-3"></i>Orders</a> -->
    </div>

  </div>
