<div class="col-md-12 pad">

    <!--Card-->
    <div class="card">

      <!--Card content-->
      <div class="card-body">

        <form [formGroup]="editForm" (ngSubmit)="edit()">
            <div class="form-group">
              <label for="usr">Name</label>
              <input type="text" formControlName="name" class="form-control" id="usr" name="username"
              [ngClass]="{
                'has-danger': name.invalid && (name.dirty || name.touched || isFormSubmitted),
                'has-success': name.valid && (name.dirty || name.touched)
            }">
            </div>
            <div class="error" *ngIf="name.errors && (name.dirty || name.touched || isFormSubmitted)">
              <span *ngIf="name.errors.required">Name is required</span>
              <span *ngIf="name.errors.pattern">Name must contain atleast one alphabet</span>
          </div>
            <div class="form-group">
              <label for="pwd">email</label>
              <input [readonly]="true" type="email" formControlName="email" class="form-control" id="pwd" name="password"
              [ngClass]="{
                'has-danger': email.invalid && (email.dirty || email.touched || isFormSubmitted),
                'has-success': email.valid && (email.dirty || email.touched)
            }">
            </div>
            <div class="error" *ngIf="email.errors && (email.dirty || email.touched || isFormSubmitted)">
              <span *ngIf="email.errors.required">Email is required.</span>
              <span *ngIf="email.errors.pattern">Enter valid email.</span>
          </div>
            <!-- <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" formControlName="password" class="form-control" id="pwd" name="password">
              </div> -->
              <!-- <div class="form-group">
                <label for="pwd">Confirm password:</label>
                <input type="password" formControlName="confirmPassword" class="form-control" id="pwd" name="password">
              </div> -->
            <button type="submit" class="btn btn-dark">Update</button>
          </form>

      </div>

    </div>
    <!--/.Card-->

  </div>