<div class="limiter" >
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-32">
                    Forgot password
                </span>

                <span class="txt1 p-b-11">
                    Email
                </span>
                <div class="wrap-input100 validate-input m-b-36" >
                    <input formControlName="email" class="input100" type="text" name="email" 
                    [ngClass]="{
                        'has-danger': email.invalid && (email.dirty || email.touched || isFormSubmitted),
                        'has-success': email.valid && (email.dirty || email.touched)
                    }">
                    <span class="focus-input100"></span>
                </div>
                <div class="error" *ngIf="email.errors && (email.dirty || email.touched || isFormSubmitted)">
                    <span *ngIf="email.errors.required">Email is required.</span>
                    <span *ngIf="email.errors.pattern">Enter valid email.</span>
                </div>
                
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Reset
                    </button>
                </div>
                <div class="flex-sb-m w-full p-b-48">
                    <div>
                        <a  class="txt3" [routerLink]="['', 'authendication', 'login']"  >
                            go to login?
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>