<div [formGroup]="form">
    <select formControlName="countryControl" class="form-control"  name="sellist1">
        <option [value]="country" *ngFor="let country of countries">{{country}}</option>
      </select>
</div>


