<div class="container-fluid mt-5">

    <!-- Heading -->
  <!--   <div class="card mb-4 wow fadeIn"> -->

      <!--Card content-->
    <!--   <div class="card-body d-sm-flex justify-content-between">

        <h4 class="mb-2 mb-sm-0 pt-1">
          <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
          <span>/</span>
          <span>Dashboard</span>
        </h4>

        <form class="d-flex justify-content-center">
         
          <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
          <button class="btn btn-primary btn-sm my-0 p" type="submit">
            <i class="fa fa-search"></i>
          </button>

        </form>

      </div> -->

  <!--   </div> -->
    <!-- Heading -->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-9 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <div class="card-body">

            <highcharts-chart
            [Highcharts]="Highcharts"
            [options]=" donutChartOptions   "
            [(update)]="updateBillingChart"
            style="width: 100%; height: 300px; display: block;"
            [oneToOne]="billingoneToOneFlag"
            ></highcharts-chart>

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 mb-4">

        <!--Card-->
        <!-- <div class="card mb-4">
          <div class="card-header text-center">
           <highcharts-chart
            [Highcharts]="Highcharts"
            [options]=" columnChartOptions   "
            style="width: 100%; height: 200px; display: block;"
            ></highcharts-chart> 
          </div>

         
          <div class="card-body">

            

          </div>

        </div> -->
        <!--/.Card-->

        <!--Card-->
        <div class="card mb-4">

          <!--Card content-->
          <div class="card-body">

            <!-- List group links -->
            <div class="list-group list-group-flush">
              
              <a class="list-group-item list-group-item-action waves-effect">Active users
                <span class="badge badge-primary badge-pill pull-right">{{active}}</span>
              </a>
              <a class="list-group-item list-group-item-action waves-effect">Inactive users
                <span class="badge badge-primary badge-pill pull-right">{{inActive}}</span>
              </a>
              <a [routerLink]="['', 'users']" class="list-group-item list-group-item-action waves-effect">Total users
                <span class="badge badge-primary badge-pill pull-right">{{total}}</span>
              </a>
            </div>
            <!-- List group links -->

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <div class="card-body">

            <!-- Table  -->
            <table class="table table-hover">
              <!-- Table head -->
              <thead class="blue-grey lighten-4">
                <tr>
                  <th>#</th>
                  <th>Lorem</th>
                  <th>Ipsum</th>
                  <th>Dolor</th>
                </tr>
              </thead>
              <!-- Table head -->

              <!-- Table body -->
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Cell 1</td>
                  <td>Cell 2</td>
                  <td>Cell 3</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Cell 4</td>
                  <td>Cell 5</td>
                  <td>Cell 6</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Cell 7</td>
                  <td>Cell 8</td>
                  <td>Cell 9</td>
                </tr>
              </tbody>
              <!-- Table body -->
            </table>
            <!-- Table  -->

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Card-->
        <div class="card">

          <!--Card content-->
          <div class="card-body">

            <!-- Table  -->
            <table class="table table-hover">
              <!-- Table head -->
              <thead class="blue lighten-4">
                <tr>
                  <th>#</th>
                  <th>Lorem</th>
                  <th>Ipsum</th>
                  <th>Dolor</th>
                </tr>
              </thead>
              <!-- Table head -->

              <!-- Table body -->
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Cell 1</td>
                  <td>Cell 2</td>
                  <td>Cell 3</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Cell 4</td>
                  <td>Cell 5</td>
                  <td>Cell 6</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Cell 7</td>
                  <td>Cell 8</td>
                  <td>Cell 9</td>
                </tr>
              </tbody>
              <!-- Table body -->
            </table>
            <!-- Table  -->

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    
    <!--Grid row-->

    <!--Grid row-->
    
    <!--Grid row-->

  </div>