<!-- <app-input></app-input>
<app-button></app-button>
<router-outlet></router-outlet> -->

<!-- <div class="container">
    <app-input [events]="eventsSubject.asObservable()" ></app-input>
    <app-button (messageEvent)="receiveMessage($event)" ></app-button>
    <router-outlet></router-outlet>
</div> -->
<router-outlet></router-outlet>
<!-- <div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="submit()">
        <app-input  formControlName="profile"></app-input>
        <app-select formControlName="select"></app-select>
        <app-radio formControlName="radio"></app-radio>
        <app-text-area formControlName="textArea"></app-text-area>
        <app-check-box formControlName="checkBox"></app-check-box>
        <button>Sign Up</button>
        <button type="button" (click)="resetForm()">Reset</button>
    </form>
</div> -->

<!-- <label for="switch-1">NgModel</label>
<app-text-area id="switch-1" [(ngModel)]="value"></app-text-area><br />
<strong>Value:</strong> {{value}}
<br /><br />
<hr />
<br /> -->

<!-- <form [formGroup]="myForm" (ngSubmit)="submit()">
  <label>check box</label>
  <app-check-box id="switch-2" formControlName="mySwitch"></app-check-box>
  <label>text area</label>
  <app-text-area formControlName="result"></app-text-area>
  <label>input</label>
  <app-input formControlName="name"></app-input>
  <button>Submit</button>
</form> -->


      <!-- <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="heatMapOptions"
        style="width: 100%; height: 300px; display: block;"
></highcharts-chart> -->
