<div [formGroup]="form">
        <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="biginner" formControlName="gender" name="gender">Option 1
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="intermediate" formControlName="gender" name="gender">Option 2
                </label>
              </div>
              <div class="form-check ">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" value="fast_learner" formControlName="gender" name="gender">Option 3
                </label>
              </div>
</div>
