



<div class="container-for-admin">
    <!--Main Navigation-->
      <header>
    
        <!-- Navbar -->
        <app-top-nav></app-top-nav>
        <!-- Navbar -->
    
        <!-- Sidebar -->
        <app-sidenav></app-sidenav>
        <!-- Sidebar -->
    
      </header>
      <!--Main Navigation-->
    
      <!--Main layout-->
      <main class="pt-5 mx-lg-5">
        <router-outlet></router-outlet>
      </main>
      <!--Main layout-->
    
      <!--Footer-->
     footer
      <!--/.Footer-->
    </div>
    