<div class="limiter" >
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-32">
                    Account Login
                </span>

                <span class="txt1 p-b-11">
                    Email
                </span>
                <div class="wrap-input100 validate-input m-b-36" >
                    <input formControlName="email" class="input100" type="text" name="email" 
                    [ngClass]="{
                        'has-danger': email.invalid && (email.dirty || email.touched || isFormSubmitted),
                        'has-success': email.valid && (email.dirty || email.touched)
                    }">
                    <span class="focus-input100"></span>
                </div>
                <div class="error" *ngIf="email.errors && (email.dirty || email.touched || isFormSubmitted)">
                    <span *ngIf="email.errors.required">Email is required.</span>
                    <span *ngIf="email.errors.pattern">Enter valid email.</span>
                </div>
                
                <span class="txt1 p-b-11">
                    Password
                </span>
                <div class="wrap-input100 validate-input m-b-12" >
                    <span class="btn-show-pass">
                        <i class="fa fa-eye" (click)="toggle()"></i>
                    </span>
                    <input formControlName="password" class="input100" type={{buttonName}} name="pass" 
                    [ngClass]="{
                        'has-danger': password.invalid && (password.dirty || password.touched || isFormSubmitted),
                        'has-success': password.valid && (password.dirty || password.touched)
                    }">
                    <span class="focus-input100"></span>
                </div>
                <div class="error" *ngIf="password.errors && (password.dirty || password.touched || isFormSubmitted)">
                    <span *ngIf="password.errors.required">Password is required</span>
                    <span *ngIf="password.errors.minlength">Password must be at least 8 characters long</span>
                    <span *ngIf="password.errors.maxlength">Password can be max 32 characters</span>
                </div>
                
                <div class="flex-sb-m w-full p-b-48">
                    <div>
                        <a  class="txt3" [routerLink]="['', 'authendication', 'register']"  >
                            Create an Account?
                        </a>
                    </div>
                </div>
                

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>
                <div class="flex-sb-m w-full p-b-48">
                    <div>
                        <a  class="txt3" [routerLink]="['', 'authendication', 'forgotpassword']"  >
                            Forgot password?
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>