<div class="col-md-12 pad">

    <!--Card-->
    <div class="card">

      <!--Card content-->
      <div class="card-body">
        <!--  <div>{{getUserlist | json}}</div> -->
        <table datatable [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger"  class="row-border hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>DateCreated</th>
              <th>DateUpdated</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="getUserlist?.length != 0">
              <tr *ngFor="let user of getUserlist">
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.dateCreated | date }}</td>
                  <td>{{ user.dateUpdated | date }}</td>
                  <td><i class="fa fa-pencil" style="font-size:24px" [routerLink]="['', 'users-edit',user.userid]"></i>
                    <i class='fa fa-trash' style='font-size:24px' (click)="deleteUser(user)"></i></td>
                 
              </tr>
          </tbody>
          <tbody *ngIf="getUserlist?.length == 0">
            <tr>
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          </tbody>
        </table>
       

      </div>

    </div>
    <!--/.Card-->

  </div>

  <!-- <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let person of getUserlist">
          <td>{{ person.email }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.dateCreated }}</td>
      </tr>
  </tbody>
  </table> -->